html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2C3E50;
  font-size: 1.6rem;
}

button,
a {

  &:focus {
    outline: none;
  }
}

.center {
  text-align: center;
}

.row {

  &--no-gutter {
    margin-left: 0;
    margin-right: 0;

    > [class^='col-'],
    > [class*=' col-'] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: left;
  }

  &--right {
    justify-content: right;
  }
}

.flex {
  display: flex;

  &--auto {
    flex: auto;
  }
}

