.icon {

  &-camera {
    background: url("~@/assets/icons/camera/camera.svg") no-repeat center;
    background-size: contain;
  }

  &-delivery {
    background: url("~@/assets/icons/delivery/delivery.svg") no-repeat center;
    background-size: contain;
  }

  &-file-edit {
    background: url("~@/assets/icons/file-edit/file-edit.svg") no-repeat center;
    background-size: contain;
  }

  &-rating {
    background: url("~@/assets/icons/rating/rating.svg") no-repeat center;
    background-size: contain;
  }

  &-chat {
    background: url("~@/assets/icons/chat/chat.svg") no-repeat center;
    background-size: contain;
  }

  &-network-group {
    background: url("~@/assets/icons/network-group/network-group.svg") no-repeat center;
    background-size: contain;
  }

  &-chat--blue {
    background: url("~@/assets/icons/chat/chat--blue.svg") no-repeat center;
    background-size: contain;
  }

  &-chat--white {
    background: url("~@/assets/icons/chat/chat--white.svg") no-repeat center;
    background-size: contain;
  }

  &-instagram {
    background: url("~@/assets/icons/instagram/instagram.svg") no-repeat center;
    background-size: contain;
  }

  &-shop {
    background: url("~@/assets/icons/shop/shop.svg") no-repeat center;
    background-size: contain;
  }

  &-instagram--primary {
    background: url("~@/assets/icons/instagram/instagram--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-arrow--white {
    background: url("~@/assets/icons/arrow/arrow.svg") no-repeat center;
    background-size: contain;
  }

  &-arrow--black {
    background: url("~@/assets/icons/arrow/arrow--black.svg") no-repeat center;
    background-size: contain;
  }

  &-hamburger {
    background: url("~@/assets/icons/hamburger/hamburger.svg") no-repeat center;
    background-size: contain;
  }

  &-list--primary {
    background: url("~@/assets/icons/list/list--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-tile--primary {
    background: url("~@/assets/icons/tile/tile--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-pin--primary {
    background: url("~@/assets/icons/pin/pin--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-close--black {
    background: url("~@/assets/icons/close/close--black.svg") no-repeat center;
    background-size: contain;
  }

  &-pin {
    background: url("~@/assets/icons/pin/pin.svg") no-repeat center;
    background-size: contain;
  }

  &-pin--stroke {
    background: url("~@/assets/icons/pin/pin--stroke.svg") no-repeat center;
    background-size: contain;
  }

  &-domain--primary {
    background: url("~@/assets/icons/domain/domain--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-domain {
    background: url("~@/assets/icons/domain/domain.svg") no-repeat center;
    background-size: contain;
  }

  &-phone--primary {
    background: url("~@/assets/icons/phone/phone--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-phone {
    background: url("~@/assets/icons/phone/phone.svg") no-repeat center;
    background-size: contain;
  }

  &-help--primary {
    background: url("~@/assets/icons/help/help--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-locked {
    background: url("~@/assets/icons/locked/locked.svg") no-repeat center;
    background-size: contain;
  }

  &-tag--primary {
    background: url("~@/assets/icons/tag/tag--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-tag {
    background: url("~@/assets/icons/tag/tag.svg") no-repeat center;
    background-size: contain;
  }

  &-hammer {
    background: url("~@/assets/icons/hammer/hammer.svg") no-repeat center;
    background-size: contain;
  }

  &-box {
    background: url("~@/assets/icons/box/box.svg") no-repeat center;
    background-size: contain;
  }

  &-search {
    background: url("~@/assets/icons/search/search.svg") no-repeat center;
    background-size: contain;
  }

  &-search--primary {
    background: url("~@/assets/icons/search/search--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-shopping-cart {
    background: url("~@/assets/icons/shopping-cart/shopping-cart.svg") no-repeat center;
    background-size: contain;
  }

  &-shopping-cart--primary {
    background: url("~@/assets/icons/shopping-cart/shopping-cart--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-user--primary {
    background: url("~@/assets/icons/user/user--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-user {
    background: url("~@/assets/icons/user/user.svg") no-repeat center;
    background-size: contain;
  }

  &-locked--primary {
    background: url("~@/assets/icons/locked/locked--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-mail {
    background: url("~@/assets/icons/mail/mail.svg") no-repeat center;
    background-size: contain;
  }

  &-logo {
    background: url("~@/assets/icons/logo/logo.svg") no-repeat center;
    background-size: contain;
  }

  &-logo--primary {
    background: url("~@/assets/icons/logo/logo--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-facebook {
    background: url("~@/assets/icons/facebook/facebook.svg") no-repeat center;
    background-size: contain;
  }

  &-facebook--white {
    background: url("~@/assets/icons/facebook/facebook--white.svg") no-repeat center;
    background-size: contain;
  }

  &-facebook--primary {
    background: url("~@/assets/icons/facebook/facebook--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-youtube {
    background: url("~@/assets/icons/youtube/youtube.svg") no-repeat center;
    background-size: contain;
  }

  &-youtube--white {
    background: url("~@/assets/icons/youtube/youtube--white.svg") no-repeat center;
    background-size: contain;
  }

  &-youtube--color {
    background: url("~@/assets/icons/youtube/youtube--color.svg") no-repeat center;
    background-size: contain;
  }

  &-twitter {
    background: url("~@/assets/icons/twitter/twitter.svg") no-repeat center;
    background-size: contain;
  }

  &-twitter--white {
    background: url("~@/assets/icons/twitter/twitter--white.svg") no-repeat center;
    background-size: contain;
  }

  &-twitter--color {
    background: url("~@/assets/icons/twitter/twitter--color.svg") no-repeat center;
    background-size: contain;
  }

  &-mail--primary {
    background: url("~@/assets/icons/mail/mail--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-wool {
    background: url("~@/assets/icons/wool/wool.svg") no-repeat center;
    background-size: contain;
  }

  &-wool--black {
    background: url("~@/assets/icons/wool/wool--black.svg") no-repeat center;
    background-size: contain;
  }

  &-anvil {
    background: url("~@/assets/icons/anvil/anvil.svg") no-repeat center;
    background-size: contain;
  }

  &-anvil--black {
    background: url("~@/assets/icons/anvil/anvil--black.svg") no-repeat center;
    background-size: contain;
  }

  &-leather {
    background: url("~@/assets/icons/leather/leather.svg") no-repeat center;
    background-size: contain;
  }

  &-leather--black {
    background: url("~@/assets/icons/leather/leather--black.svg") no-repeat center;
    background-size: contain;
  }

  &-wooden {
    background: url("~@/assets/icons/wooden/wooden.svg") no-repeat center;
    background-size: contain;
  }

  &-wooden--black {
    background: url("~@/assets/icons/wooden/wooden--black.svg") no-repeat center;
    background-size: contain;
  }

  &-sword {
    background: url("~@/assets/icons/sword/sword.svg") no-repeat center;
    background-size: contain;
  }

  &-sword--white {
    background: url("~@/assets/icons/sword/sword--white.svg") no-repeat center;
    background-size: contain;
  }

  &-sword--gray {
    background: url("~@/assets/icons/sword/sword--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-armor {
    background: url("~@/assets/icons/armor/armor.svg") no-repeat center;
    background-size: contain;
  }

  &-armor--white {
    background: url("~@/assets/icons/armor/armor--white.svg") no-repeat center;
    background-size: contain;
  }

  &-armor--gray {
    background: url("~@/assets/icons/armor/armor--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-masks {
    background: url("~@/assets/icons/masks/masks.svg") no-repeat center;
    background-size: contain;
  }

  &-masks--white {
    background: url("~@/assets/icons/masks/masks--white.svg") no-repeat center;
    background-size: contain;
  }

  &-masks--gray {
    background: url("~@/assets/icons/masks/masks--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-puzzle {
    background: url("~@/assets/icons/puzzle/puzzle.svg") no-repeat center;
    background-size: contain;
  }

  &-puzzle--black {
    background: url("~@/assets/icons/puzzle/puzzle--black.svg") no-repeat center;
    background-size: contain;
  }

  &-tunic {
    background: url("~@/assets/icons/tunic/tunic.svg") no-repeat center;
    background-size: contain;
  }

  &-tunic--white {
    background: url("~@/assets/icons/tunic/tunic--white.svg") no-repeat center;
    background-size: contain;
  }

  &-tunic--gray {
    background: url("~@/assets/icons/tunic/tunic--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-spray {
    background: url("~@/assets/icons/spray/spray.svg") no-repeat center;
    background-size: contain;
  }

  &-spray--black {
    background: url("~@/assets/icons/spray/spray--black.svg") no-repeat center;
    background-size: contain;
  }

  &-success--primary {
    background: url("~@/assets/icons/success/success-fill.svg") no-repeat center;
    background-size: contain;
  }

  &-success-only-check {
    background: url("~@/assets/icons/success/success-only-check.svg") no-repeat center;
    background-size: contain;
  }

  &-upload {
    background: url("~@/assets/icons/upload/upload.svg") no-repeat center;
    background-size: contain;
  }

  &-empty {
    background: url("~@/assets/icons/empty/empty.svg") no-repeat center;
    background-size: contain;
  }

  &-empty--gray {
    background: url("~@/assets/icons/empty/empty--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-edit--primary {
    background: url("~@/assets/icons/edit/edit--primary.svg") no-repeat center;
    background-size: contain;
  }

  &-edit {
    background: url("~@/assets/icons/edit/edit.svg") no-repeat center;
    background-size: contain;
  }

  &-edit--white {
    background: url("~@/assets/icons/edit/edit--white.svg") no-repeat center;
    background-size: contain;
  }

  &-eye {
    background: url("~@/assets/icons/eye/eye.svg") no-repeat center;
    background-size: contain;
  }

  &-eye--white {
    background: url("~@/assets/icons/eye/eye--white.svg") no-repeat center;
    background-size: contain;
  }

  &-delete {
    background: url("~@/assets/icons/delete/delete.svg") no-repeat center;
    background-size: contain;
  }

  &-delete--red {
    background: url("~@/assets/icons/delete/delete--red.svg") no-repeat center;
    background-size: contain;
  }

  &-delete--white {
    background: url("~@/assets/icons/delete/delete--white.svg") no-repeat center;
    background-size: contain;
  }
}
