.icon {

  &-chat {
    background: url("~@/assets/icons/chat/chat.svg") no-repeat center;
    background-size: contain;
  }


  &-chat--blue {
    background: url("~@/assets/icons/chat/chat--blue.svg") no-repeat center;
    background-size: contain;
  }

  &-chat--white {
    background: url("~@/assets/icons/chat/chat--white.svg") no-repeat center;
    background-size: contain;
  }

  &-instagram {
    background: url("~@/assets/icons/instagram/instagram.svg") no-repeat center;
    background-size: contain;
  }

  &-shop {
    background: url("~@/assets/icons/shop/shop.svg") no-repeat center;
    background-size: contain;
  }

  &-instagram--green {
    background: url("~@/assets/icons/instagram/instagram--green.svg") no-repeat center;
    background-size: contain;
  }

  &-arrow--white {
    background: url("~@/assets/icons/arrow/arrow.svg") no-repeat center;
    background-size: contain;
  }

  &-arrow--black {
    background: url("~@/assets/icons/arrow/arrow--black.svg") no-repeat center;
    background-size: contain;
  }

  &-list--green {
    background: url("~@/assets/icons/list/list--green.svg") no-repeat center;
    background-size: contain;
  }

  &-tile--green {
    background: url("~@/assets/icons/tile/tile--green.svg") no-repeat center;
    background-size: contain;
  }

  &-pin--green {
    background: url("~@/assets/icons/pin/pin--green.svg") no-repeat center;
    background-size: contain;
  }

  &-close--black {
    background: url("~@/assets/icons/close/close--black.svg") no-repeat center;
    background-size: contain;
  }

  &-pin {
    background: url("~@/assets/icons/pin/pin.svg") no-repeat center;
    background-size: contain;
  }

  &-domain--green {
    background: url("~@/assets/icons/domain/domain--green.svg") no-repeat center;
    background-size: contain;
  }

  &-domain {
    background: url("~@/assets/icons/domain/domain.svg") no-repeat center;
    background-size: contain;
  }

  &-phone--green {
    background: url("~@/assets/icons/phone/phone--green.svg") no-repeat center;
    background-size: contain;
  }

  &-phone {
    background: url("~@/assets/icons/phone/phone.svg") no-repeat center;
    background-size: contain;
  }

  &-help--green {
    background: url("~@/assets/icons/help/help--green.svg") no-repeat center;
    background-size: contain;
  }

  &-locked {
    background: url("~@/assets/icons/locked/locked.svg") no-repeat center;
    background-size: contain;
  }

  &-tag--green {
    background: url("~@/assets/icons/tag/tag--green.svg") no-repeat center;
    background-size: contain;
  }

  &-tag {
    background: url("~@/assets/icons/tag/tag.svg") no-repeat center;
    background-size: contain;
  }

  &-hammer {
    background: url("~@/assets/icons/hammer/hammer.svg") no-repeat center;
    background-size: contain;
  }

  &-box {
    background: url("~@/assets/icons/box/box.svg") no-repeat center;
    background-size: contain;
  }

  &-search {
    background: url("~@/assets/icons/search/search.svg") no-repeat center;
    background-size: contain;
  }

  &-search--green {
    background: url("~@/assets/icons/search/search--green.svg") no-repeat center;
    background-size: contain;
  }

  &-shopping-cart {
    background: url("~@/assets/icons/shopping-cart/shopping-cart.svg") no-repeat center;
    background-size: contain;
  }

  &-shopping-cart--green {
    background: url("~@/assets/icons/shopping-cart/shopping-cart--green.svg") no-repeat center;
    background-size: contain;
  }

  &-user--green {
    background: url("~@/assets/icons/user/user--green.svg") no-repeat center;
    background-size: contain;
  }

  &-user {
    background: url("~@/assets/icons/user/user.svg") no-repeat center;
    background-size: contain;
  }

  &-locked--green {
    background: url("~@/assets/icons/locked/locked--green.svg") no-repeat center;
    background-size: contain;
  }

  &-mail {
    background: url("~@/assets/icons/mail/mail.svg") no-repeat center;
    background-size: contain;
  }

  &-logo {
    background: url("~@/assets/icons/logo/logo.svg") no-repeat center;
    background-size: contain;
  }

  &-logo--green {
    background: url("~@/assets/icons/logo/logo--green.svg") no-repeat center;
    background-size: contain;
  }

  &-facebook {
    background: url("~@/assets/icons/facebook/facebook.svg") no-repeat center;
    background-size: contain;
  }

  &-facebook--white {
    background: url("~@/assets/icons/facebook/facebook--white.svg") no-repeat center;
    background-size: contain;
  }

  &-facebook--green {
    background: url("~@/assets/icons/facebook/facebook--green.svg") no-repeat center;
    background-size: contain;
  }

  &-youtube {
    background: url("~@/assets/icons/youtube/youtube.svg") no-repeat center;
    background-size: contain;
  }

  &-youtube--white {
    background: url("~@/assets/icons/youtube/youtube--white.svg") no-repeat center;
    background-size: contain;
  }

  &-youtube--color {
    background: url("~@/assets/icons/youtube/youtube--color.svg") no-repeat center;
    background-size: contain;
  }

  &-twitter {
    background: url("~@/assets/icons/twitter/twitter.svg") no-repeat center;
    background-size: contain;
  }

  &-twitter--white {
    background: url("~@/assets/icons/twitter/twitter--white.svg") no-repeat center;
    background-size: contain;
  }

  &-twitter--color {
    background: url("~@/assets/icons/twitter/twitter--color.svg") no-repeat center;
    background-size: contain;
  }

  &-mail--green {
    background: url("~@/assets/icons/mail/mail--green.svg") no-repeat center;
    background-size: contain;
  }

  &-wool {
    background: url("~@/assets/icons/wool/wool.svg") no-repeat center;
    background-size: contain;
  }

  &-wool--black {
    background: url("~@/assets/icons/wool/wool--black.svg") no-repeat center;
    background-size: contain;
  }

  &-anvil {
    background: url("~@/assets/icons/anvil/anvil.svg") no-repeat center;
    background-size: contain;
  }

  &-anvil--black {
    background: url("~@/assets/icons/anvil/anvil--black.svg") no-repeat center;
    background-size: contain;
  }

  &-leather {
    background: url("~@/assets/icons/leather/leather.svg") no-repeat center;
    background-size: contain;
  }

  &-leather--black {
    background: url("~@/assets/icons/leather/leather--black.svg") no-repeat center;
    background-size: contain;
  }

  &-wooden {
    background: url("~@/assets/icons/wooden/wooden.svg") no-repeat center;
    background-size: contain;
  }

  &-wooden--black {
    background: url("~@/assets/icons/wooden/wooden--black.svg") no-repeat center;
    background-size: contain;
  }

  &-sword {
    background: url("~@/assets/icons/sword/sword.svg") no-repeat center;
    background-size: contain;
  }

  &-sword--white {
    background: url("~@/assets/icons/sword/sword--white.svg") no-repeat center;
    background-size: contain;
  }

  &-sword--gray {
    background: url("~@/assets/icons/sword/sword--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-armor {
    background: url("~@/assets/icons/armor/armor.svg") no-repeat center;
    background-size: contain;
  }

  &-armor--white {
    background: url("~@/assets/icons/armor/armor--white.svg") no-repeat center;
    background-size: contain;
  }

  &-armor--gray {
    background: url("~@/assets/icons/armor/armor--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-masks {
    background: url("~@/assets/icons/masks/masks.svg") no-repeat center;
    background-size: contain;
  }

  &-masks--white {
    background: url("~@/assets/icons/masks/masks--white.svg") no-repeat center;
    background-size: contain;
  }

  &-masks--gray {
    background: url("~@/assets/icons/masks/masks--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-puzzle {
    background: url("~@/assets/icons/puzzle/puzzle.svg") no-repeat center;
    background-size: contain;
  }

  &-puzzle--black {
    background: url("~@/assets/icons/puzzle/puzzle--black.svg") no-repeat center;
    background-size: contain;
  }

  &-tunic {
    background: url("~@/assets/icons/tunic/tunic.svg") no-repeat center;
    background-size: contain;
  }

  &-tunic--white {
    background: url("~@/assets/icons/tunic/tunic--white.svg") no-repeat center;
    background-size: contain;
  }

  &-tunic--gray {
    background: url("~@/assets/icons/tunic/tunic--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-spray {
    background: url("~@/assets/icons/spray/spray.svg") no-repeat center;
    background-size: contain;
  }

  &-spray--black {
    background: url("~@/assets/icons/spray/spray--black.svg") no-repeat center;
    background-size: contain;
  }

  &-success-green {
    background: url("~@/assets/icons/success/success-fill.svg") no-repeat center;
    background-size: contain;
  }

  &-upload {
    background: url("~@/assets/icons/upload/upload.svg") no-repeat center;
    background-size: contain;
  }

  &-empty {
    background: url("~@/assets/icons/empty/empty.svg") no-repeat center;
    background-size: contain;
  }

  &-empty--gray {
    background: url("~@/assets/icons/empty/empty--gray.svg") no-repeat center;
    background-size: contain;
  }

  &-edit--green {
    background: url("~@/assets/icons/edit/edit--green.svg") no-repeat center;
    background-size: contain;
  }

  &-edit {
    background: url("~@/assets/icons/edit/edit.svg") no-repeat center;
    background-size: contain;
  }

  &-edit--white {
    background: url("~@/assets/icons/edit/edit--white.svg") no-repeat center;
    background-size: contain;
  }

  &-eye {
    background: url("~@/assets/icons/eye/eye.svg") no-repeat center;
    background-size: contain;
  }

  &-eye--white {
    background: url("~@/assets/icons/eye/eye--white.svg") no-repeat center;
    background-size: contain;
  }

  &-delete {
    background: url("~@/assets/icons/delete/delete.svg") no-repeat center;
    background-size: contain;
  }

  &-delete--red {
    background: url("~@/assets/icons/delete/delete--red.svg") no-repeat center;
    background-size: contain;
  }

  &-delete--white {
    background: url("~@/assets/icons/delete/delete--white.svg") no-repeat center;
    background-size: contain;
  }
}
