:root {
  --desktop-large: .51vw;
  --base: .6vw;
  --desktop-view: .75vw;
  --tablet-view: 1vw;
  --mobile-view: 2vw;

  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;

  /* COLORS */
  --primary-color: #cc6600;
  --primary-color-80: rgba(204, 102, 0, 0.8);
  --primary-color-30: #ffd9b4;

  --secondary-color: #771d1c;
  --thirth-color: #ffc368;
  --success: #0cce92;
  --success-80: #67ce96;

  --error: #ff5c4e;
  --error-80: #ff7d6e;

  --warning: #ff9d39;
  --warning-80: #ffb559;

  --blue: #3f55e2;
  --blue-50: rgba(63, 85, 226, 0.5);
  --blue-25: rgba(63, 85, 226, 0.25);
  --blue-10: rgba(63, 85, 226, 0.1);
  --red: #D7382F;
  --background-color: #f9f9f9;
  --black: #212121;
  --black-80: rgba(33, 33, 33, 0.8);
  --black-75: rgba(33, 33, 33, 0.75);
  --black-60: rgba(33, 33, 33, 0.6);
  --white: #ffffff;
  --disabled: #c0c4cc;
  --enabled: #606266;
  --transparent: rgba(255, 255, 255, 0);

  --gray-100: #fcfcfc;
  --gray-150: #f7f6f6;
  --gray-200: #f1f1f7;
  --gray-300: #ebeef5;
  --gray-400: #e1e1e1;
  --gray-450: #d4d4e4;
  --gray-500: #9d9da1;
  --gray-700: #909094;
  --gray-900: #8d8d8d;
  --gray-950: #707070;

  /* FONTS */
  --primary-font-family: 'Montserrat', 'sans-serf';

  /* GENERAL VARIABLES */
  --menu-width: 30rem;

  /* FONT SIZES*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* VIEW */
  --desktop: 1024px;
  --tablet: 768px;
  --mobile: 425px;

  /* ANIMATION */
  --transition-product-card: all .15s ease-in-out;
  --transition-offer-card: all .25s ease-in-out;
}
